<% if !defined? (sub_order_id) %>

  <% if defined? edit_enabled
       state = ''
       name = 'review[rating]'
     else
       state = 'disabled'
       name = defined?(review).nil? ? Time.now.tv_usec.to_s : "review_#{review}"
     end %>
  <% if state = 'disabled' %>
    <% star_fill = stars %>
    <% star_empty = 5 - stars %>

    <% star_fill.times do |star| %>
      <%= image_tag "star-b.png", alt: "" %>
    <% end %>

    <% star_empty.times do |star| %>
      <%= image_tag "star-w.png", alt: "" %>
    <% end %>
  <% end %>
<% else %>
  <table class="rating_set">
    <tr>
      <% if defined? (sub_order_id) %>
        <td><span class="rating js-rating-modal star_rating" id="<%= sub_order_id %>"></span></td>
      <% else %>
        <td><span class="rating star_rating"></span></td>
      <% end %>
    </tr>
  </table>
<% end %>



