<div class="review-details-pro col-lg-12 col-md-12 col-sm-12 cloth-pd" itemprop="reviews" itemscope itemtype="http://schema.org/Review">
  <ul>
    <li>
    <p><%= review.created_at.strftime("%e/%m/%Y").to_s %></p>
    </li>                                  
    <li>
      <%= render partial: "spree/shared/review_star_filler", locals: {earned_stars: review.rating, color: "gray"}%>
    </li>
    <li>
    <h3 class="mrt-10-top"><a href="#"><%= review.user.specific_name%></a></h3>
    </li>  
  </ul>

  <div class="discription-dv">

    <div class="tis-ls1">
      <span class="more body2 text-justify">
      <%= simple_format(review.review) %>
      </span>

    </div>                

  </div>

</div>
<div class="clearfix"></div>
<div class="dvd"></div>
<div class="clearfix"></div>